<div class="vending-machine-container">
  <div class="machine-header">
    <h1>Distributeur Automatique</h1>
    <div class="balance-display">
      <div class="display-item">
        <span>Solde:</span>
        <span class="amount">{{ balance | currency:'MAD':'symbol':'1.2-2' }}</span>
      </div>
    </div>
  </div>

  <app-coin-inserter 
    [transactionId]="transactionId" 
    (coinInserted)="onCoinInserted($event)">
  </app-coin-inserter>

  <app-product-list 
    [products]="products" 
    [balance]="balance" 
    [totalSelectedItemsCost]="totalSelected"
    (productSelected)="onProductSelected($event)">
  </app-product-list>

  <app-selected-products 
    [selectedItems]="selectedItems" 
    [total]="totalSelected">
  </app-selected-products>

  <app-transaction-summary
    [balance]="balance"
    [selectedItems]="selectedItems"
    [transactionId]="transactionId"
    (transactionCanceled)="handleTransactionCanceled()"
    (transactionFinalized)="handleTransactionFinalized()">
  </app-transaction-summary>
</div>
